/* 
    RESET
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
    GENERAL
 */
 *{
    font-family: 'Fredoka', sans-serif;;
 }
 .pink-text{
    color: #E53170;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
 }
 .intro{
    text-align: center;
    line-height: 16px;
    height: 100px;
    width: auto;
    
}
img{
    height: 65px;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.column{
    float: left;
    background-color: #0F0E17;
    color: #F6F5F7;
    text-align: left;
    margin: 0 10px;
   

}
h4{
    font-size: 1.2em;
}
.profile{
    background-color: #0F0E17;
    color: #FEFBF7;
    width: 295px;
    height: 75px;
    line-height: 130%;
    padding-top: 8px;
    padding-right: 90px;
    display: inline;
    float: right;
    margin-block-end: 3%;
    margin-right: 7%;
    font-size: 12px;
}
a{
    color: #1DA5E6;
}
.text-profile{
    float: right;
}

